body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.absolute {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
}

.textbox {position: relative; width: auto; margin : 0px}
  
.textbox label {
  position: absolute;
  top: 1px;  /* input 요소의 border-top 설정값 만큼 */
  left: 1px;  /* input 요소의 border-left 설정값 만큼 */
  padding: .8em .5em;  /* input 요소의 padding 값 만큼 */
  color: #999;
  cursor: text;
}

.textbox input[type="text"],
.textbox input[type="password"] {
  width: 30%;  /* 원하는 너비 설정 */ 
  height: auto;  /* 높이값 초기화 */
  line-height : normal;  /* line-height 초기화 */
  font-size: 20px;
  padding: .5em .3em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
  margin: .5em .0em .0em .0em;
  border: 3px solid rgb(148, 148, 148);
  border-radius: 0;  /* iSO 둥근모서리 제거 */
  outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
  -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance: none;
  appearance: none;
}

/* input number 증감버튼 제거 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}